body {
  max-width: 1920px;
  margin: 0 auto;
}

.theme-wrapper {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  background: transparent;
  border-radius: 70px;
  
  position: relative;
  padding: 24px 48px;
  
  cursor: pointer;
  
}
.theme-button:before {
  content: '';
  position: absolute;
  background: #2B8256;
  filter: blur(15px);
  border-radius: 70px;
  top: 32px;
  max-width: calc(100% - 96px);
  width: 100%;
  left: 48px;
  height: 100%;
}
.theme-button:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #45EE99;
  border-radius: 70px;
  z-index: 1;
  left: 0;
  top: 0;
}
.theme-button__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
  position: relative;
  z-index: 2;
  max-width: 475px;
}

.theme-headline {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  
  color: #005B77;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto 48px auto;
  display: block;
}

/* Intro */
.section-intro {
  background-image: url(../img/intro-banner.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.intro-wrapper {
  padding: 120px 0;
  min-height: 680px;
  max-width: 1280px;
}
.intro-wrapper__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 85px;
  text-transform: uppercase;
  color: #005B77;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 630px;
  margin-bottom: 8px;
}
.intro-wrapper__title > span {
  font-size: 70px;
  line-height: 85px;
}
.intro-wrapper__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 43px;
  color: #FFFFFF;
  position: relative;
  max-width: 780px;
  padding: 0 24px;
}
.intro-wrapper__text > span {
  display: block;
  z-index: 1;
  position: relative;
}
.intro-wrapper__text:before {
  content: '';
  width: 100%;
  height: calc(100% - 20px);
  background-color: #005B77;
  display: block;
  position: absolute;
  left: 0;
  top: 20px;
}
.intro-wrapper__button {
  margin-top: 80px;
  margin-left: 94px;
  max-width: 577px;
}


/* Reviews */
.section-reviews {
  background: linear-gradient(96.76deg, #DBF4E8 0.34%, #EBFFF5 49.15%, #DBF4E8 97.95%);
  
}
.reviews-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
.reviews-wrapper__headline {

}
.reviews-wrapper__box {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  align-items: stretch;
  justify-content: center;
  grid-gap: 20px 36px;
}
.reviews-box__item {
  border-radius: 30px;
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.reviews-box__item:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 15.87%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 30px;
  z-index: 1;
  
}
.reviews-item__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  left: 0;
  top: 0;
}
.reviews-item__info {
  position: relative;
  z-index: 2;
  padding: 0 16px 24px 16px;
}
.reviews-info__general {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  display: block;
  color: #FFFFFF;
}
.reviews-info__text {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  
  color: #FFFFFF;
}
.reviews-info__rating {
  height: 27px;
  background-image: url(../img/rating-star.png);
  margin: 16px auto 0 auto;
  width: 135px;
}
.--rating-5 {
  width: 135px;
}
.--rating-4 {
  width: 108px;
}
.--rating-3 {
  width: 81px;
}
.--rating-2 {
  width: 55px;
}
.--rating-1 {
  width: 28px;
}


/* Why */
.section-why {
  background-image: url(../img/why-banner.jpg);
  height: 640px;
  background-position: center;
  -webkit-background-size: 1920px;
  background-size: 1920px;
}
.why-wrapper {
  max-width: 960px;
  padding-top: 70px;
  position: relative;
}
.why-wrapper__headline {
  max-width: 600px;
}
.why-wrapper__box {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  left: 0;
  
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: space-between;
  align-items: center;
  grid-gap: 112px;
  
}
.why-box__item {
  max-width: 250px;
  position: relative;
}
.why-box__item:before {
  content: '';
  width: 330px;
  display: block;
  position: absolute;
  
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
}
.why-box__item:nth-child(1):before {
  background-image: url(../img/why-line-1.png);
  height: 26px;
  left: -50px;
  bottom: -15px;
}
.why-box__item:nth-child(2):before {
  background-image: url(../img/why-line-2.png);
  height: 46px;
  left: -80px;
  bottom: -35px;
}
.why-box__item:nth-child(3):before {
  background-image: url(../img/why-line-3.png);
  height: 84px;
  left: -50px;
  bottom: -55px;
}
.why-box__item:nth-child(4):before {
  background-image: url(../img/why-line-4.png);
  height: 25px;
  left: -85px;
  bottom: -35px;
}
.why-item__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
}


/* How */
.section-how {
  background: linear-gradient(96.76deg, #DBF4E8 0.34%, #EBFFF5 49.15%, #DBF4E8 97.95%);
}
.how-wrapper {
  padding-top: 106px;
  padding-bottom: 92px;
}
.how-wrapper__headline {
  margin-bottom: 80px;
}
.how-wrapper__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-content: center;
  grid-gap: 90px;
}
.how-box__item {
  text-align: center;
  max-width: 300px;
  position: relative;
}
.how-box__item:after {
  content: '';
  display: block;
  position: absolute;
  
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/how-arrows.png);
  
  width: 90px;
  height: 63px;
  
  right: -85px;
  top: 92px;
}
.how-box__item:last-child:after {
  display: none;
}
.how-item__icon {
  display: block;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
}
.how-item__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}


/* FAQ */
.section-faq {
  background-color: #fff;
}
.faq-wrapper {
  padding-top: 60px;
  padding-bottom: 75px;
  max-width: 1300px;
}
.faq-wrapper__headline {

}
.faq-wrapper__item {

}
.faq-item__question {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;
  color: #000000;
  
  background: #F6F6F6;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  
  padding: 22px 100px;
  margin-bottom: 40px;
  margin-top: 24px;
  cursor: pointer;
  
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.faq-item__question:hover {
  background: #eeeeee;
}
.faq-item__question:before {
  content: '';
  display: block;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 16px;
  top: 50%;
  
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
  
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-image: url(../img/faq-arrow.png);
  
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.faq-item__answer {
  padding: 0 100px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  
  height: 0;
  opacity: 0;
  
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.--item-active .faq-item__answer {
  height: 75px;
  opacity: 1;
}
.--item-active .faq-item__question:before {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* CTA */
.section-cta {
  background: linear-gradient(90deg, #1490B0 0%, #4ABBC7 100%);
  position: relative;
  z-index: 1;
}
.cta-wrapper {
  max-width: 1280px;
  padding-top: 90px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta-wrapper__content {

}
.cta-content__headline {
  max-width: 630px;
  color: #ffffff;
  
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  text-align: left;
  
  margin-bottom: 16px;
}
.cta-content__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 620px;
}
.cta-wrapper__form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.cta-form__input {
  height: 70px;
  width: 100%;
  max-width: 445px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  
  color: #000000;
}
.cta-form__submit {
  width: 100%;
  height: 96px;
  max-width: 570px;
  margin-top: 10px;
}


/* Text */
.section-text {
  background-image: url(../img/text-section-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 520px;
  margin-top: -5px;
}
.text-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1280px;
}
.text-wrapper__content {
  max-width: 630px;
}
.text-content__headline {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
  display: block;
}
.text-content__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  
  color: #FFFFFF;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* About */
.section-about {

}
.about-wrapper {
  max-width: 1300px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.about-wrapper__headline {
  margin-bottom: 60px;
}
.about-wrapper__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.about-content__img {
  width: 100%;
  max-width: 500px;
}
.about-content__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;

  color: #000000;
}


/* Features */
.section-features {
  background: linear-gradient(90deg, #1490B0 0%, #4ABBC7 100%);
}
.features-wrapper {
  padding-top: 60px;
  padding-bottom: 90px;
  max-width: 1300px;
}
.features-wrapper__headline {
  color: #ffffff;
}
.features-wrapper__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}
.features-item__icon {
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 16px;
}
.features-item__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  display: block;
  color: #FFFFFF;
  margin-bottom: 4px;
}
.features-item__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  
  color: #FFFFFF;
  
}


/* Work */
.section-work {

}
.work-wrapper {
  padding-top: 65px;
  padding-bottom: 80px;
  max-width: 1300px;
}
.work-content__headline {
  margin-bottom: 16px;
}
.work-wrapper__text {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  color: #000000;
  
}
.work-wrapper__steps {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 80px;
  margin-top: 20px;
}
.word-steps__item {
  padding: 32px 16px;
  background: #F6F6F6;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  max-width: 546px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  
  color: #000000;
}

/* Expert */
.section-expert {
  background: linear-gradient(96.76deg, #DBF4E8 0.34%, #EBFFF5 49.15%, #DBF4E8 97.95%);
  
}
.expert-wrapper {
  padding-top: 104px;
  padding-bottom: 98px;
  max-width: 1300px;
}
.expert-content__headline {
  margin-bottom: 20px;
}
.expert-wrapper__text {
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  
  color: #000000;
  
  
}
.expert-wrapper__main {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 32px;
  padding: 50px 42px;
  display: flex;
  align-items: center;
  gap: 42px;
}
.expert-main__avatar {
  width: 212px;
  height: 212px;
}
.expert-main__content {
}
.expert-content__head {
  
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: block;
  color: #000000;
  margin-bottom: 24px;
  
}
.expert-content__text {
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  
  color: #000000;
  
  
}


/* Conclusion */
.section-conclusion {

}
.conclusion-wrapper {
  max-width: 1300px;
  padding-top: 60px;
  padding-bottom: 72px;
}
.conclusion-content__headline {

}
.conclusion-wrapper__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.conclusion-box__text {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  
  color: #000000;
  
  
}
.conclusion-box__image {
  max-width: 375px;
}


/* Else */
.logo-shine {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  position: relative;
}
.logo-shine:before {
  content: '';
  width: 105px;
  height: 105px;
  position: absolute;
  display: block;
  background-image: url(../img/logo-shine.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  left: -46px;
  top: -36px;
  z-index: 2;
}