/* Laptop */
@media (max-width: 1300px) {
  .intro-wrapper,
  .faq-wrapper,
  .cta-wrapper,
  .text-wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
  .intro-wrapper__text {
    max-width: 60%;
  }
  
  .cta-wrapper__form {
  
  }
}

@media (max-width: 1179px) {
  .reviews-wrapper__box {
    grid-template-columns: repeat(2, 250px);
  }
  
  .text-wrapper__content {
    max-width: 530px;
  }
}

/* Tablet */
@media (max-width: 1080px) {
  .intro-wrapper__title,
  .intro-wrapper__title > span {
    font-size: 60px;
    line-height: 75px;
  }
  .intro-wrapper__title {
    max-width: 550px;
  }
  .intro-wrapper__button {
    margin-left: 0;
  }
  .intro-wrapper__text {
    max-width: 550px;
    width: 100%;
  }
  
  .how-wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
  .how-item__icon {
    width: 185px;
  }
  .how-box__item:after {
    top: 56px;
  }
  
  .--item-active .faq-item__answer {
    height: 160px;
  }
  
  .cta-wrapper {
    flex-direction: column;
  }
  .cta-content__headline,
  .cta-content__text {
    max-width: 100%;
  }
  .cta-wrapper__form {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
  }
  .cta-form__input {
    flex: 1 0 30%;
  }
}

@media (max-width: 960px) {
  .text-wrapper__content {
    max-width: 430px;
  }
}

@media (max-width: 768px) {
  .how-wrapper__box {
    grid-template-columns: max-content;
    gap: 120px;
  }
  .how-box__item:after {
    top: auto;
    right: auto;
    bottom: -80px;
    left: 50%;
  
    -webkit-transform: translateX(-50%) rotate(90deg);
    -moz-transform: translateX(-50%) rotate(90deg);
    -ms-transform: translateX(-50%) rotate(90deg);
    -o-transform: translateX(-50%) rotate(90deg);
    transform: translateX(-50%) rotate(90deg);
    
  }
  .how-item__icon {
    width: 250px;
  }
  
  .faq-item__answer {
    padding-left: 6px;
    padding-right: 6px;
  }
  
  .cta-wrapper__form {
    flex-direction: column;
    max-width: 445px;
    width: 100%;
  }
  .cta-form__input {
    flex: 1 0 70px;
    max-width: 445px;
    width: 100%;
  }
  
  .section-text {
    background-image: url(../img/text-section-bg_mobile.jpg);
    background-position: center bottom;
    min-height: 880px;
  }
  .text-wrapper__content {
    max-width: 100%;
  }
}

/* Mobile */
@media (max-width: 575px) {
  .theme-headline {
    font-size: 35px;
    line-height: 46px;
  }
  .faq-item__question,
  .faq-item__answer {
    font-size: 20px;
    line-height: 27px;
  }
  .faq-item__question {
    padding-right: 16px;
  }
  .--item-active .faq-item__answer {
    height: 90px;
  }
  .cta-content__headline {
    font-size: 40px;
    line-height: 52px;
  }
  .cta-content__text {
    font-size: 30px;
    line-height: 39px;
  }
  .text-wrapper {
    padding-top: 24px;
  }
}

@media (max-width: 475px) {
  .intro-wrapper,
  .faq-wrapper,
  .cta-wrapper,
  .text-wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
  
}

@media (max-width: 375px) {

}